body {
    font-family: Helvetica, sans-serif;
}

html {
    background-image: url("blurrygolisano.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#wrapper{
    width: 80%;
    position: relative;
    margin: auto;
    background-color: white;
    background: rgba(255,255,255,.7);
}

#wrapper h1{
    padding-top: 1%;
    text-align: center;
    border-bottom: 1px solid lightgray;
}

#container {
    width: 90%;
    position: relative;
    margin: auto;
}

#subtitle {
    text-align: center;
    font-weight: bold;
}

#video{
    position: relative;
    width: 100%;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

#toggle{
    width: 100%;
    background-color: lightblue;
    position: relative;
}

#web{
    border-right: 1px solid black;
}

#web, #computing{
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    position: relative;
    width: 48%;
    display: inline-block;
    margin: 0;
}

#computing-stuff{
    visibility: hidden;
}

#web-stuff{
    visibility: visible;
}

#web-stuff, #computing-stuff{
    position: absolute;
    background-color: white;
    background: rgba(255,255,255,.7);
    padding-left: 5%;
    padding-right: 5%;
}



