.audio-div {
    position: relative;
    width: 100%;
    height: inherit;
    background-color: whitesmoke;
    border-left: 1px solid darkcyan;
    border-right: 1px solid darkcyan;
    box-sizing: border-box;
}

.audio-div .img-div{
    position: absolute;
    width: 25%;
    height: inherit;
    padding: 0;
    margin: 0;
}

.audio-div .img-div .media-img{
    position: relative;
    width: 100%;
    height: inherit;
}

.audio-div .controls-div{
    position: absolute;
    width: 75%;
    left: 25%;
    height: inherit;
    background-color: #f5f5f5;
}

.audio-div .controls-div .playback-div{
    position: relative;
    height: 25%;
    min-height: 25px;
    top: 25%;
}

.audio-div .controls-div .playback-div .play-div{
    position: relative;
    float: left;
    height: 100%;
    width: 8%;
    left: 1%;
    min-width: 25px;
    margin: 0 1% 0 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.volume-ctrl-div{
    position: relative;
    height: 25%;
    min-height: 25px;
    top: 25%;
}

.volume-icon-div{
    position: relative;
    float: left;
    height: 100%;
    width: 4%;
    left: 25%;
    min-width: 13px;
    margin: 0 1% 0 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.volume-icon{
    position: relative;
    height: 40%;
    width: 100%;
    min-height: 12px;
    transition: all 0.1s linear;
    cursor: pointer;
}

.volume-icon:hover{
    transform: scale(1.1, 1.1);
}

.audio-div .controls-div .playback-div .play-div .play-img{
    position: relative;
    height: 45%;
    width: 37%;
    left: 37%;
    cursor: pointer;
    transition: all 0.1s linear;
}

.audio-div .controls-div .playback-div .play-div .play-img:hover{
    transform: scale(1.1, 1.1);
}

.audio-div .controls-div .playback-div .play-div .pause-img{
    position: absolute;
    height: 45%;
    width: 37%;
    top: 28%;
    left: 32%;
    cursor: pointer;
    transition: all 0.1s linear;
}

.audio-div .controls-div .playback-div .play-div .pause-img:hover{
    transform: scale(1, 1.1);
}

.track-div{
    position: relative;
    width: 70%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.volume-track-div{
    position: relative;
    left: 25%;
    width: 30%;
    height: 100%;
    float: left;
}

.tracking-div, .track-color{
    position: absolute;
    top: 48%;
    height: 2px;
}

.tracking-div{
    width: 0;
    background-color: #008b8b;
    max-width: 98%;
}

.track-color{
    width: 98%;
    background-color: #d3d3d3;
}

.oj-slider{
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    background: transparent;
    height: 2px;
    z-index: 1;
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 45%;
}

.oj-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    margin-top: -2px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #008b8b;
    cursor: pointer;
    transition: all 0.2s;
}

.oj-slider::-moz-range-thumb{
    margin-top: -3px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #008b8b;
    cursor: pointer;
    transition: all 0.2s;
    border: none;
}

.oj-slider::-ms-thumb{
    margin-top: -3px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #008b8b;
    cursor: pointer;
    transition: all 0.2s;
}

.oj-slider::-webkit-slider-runnable-track{
    width: 100%;
    height: 2px;
    cursor: pointer;
    background-color: transparent;
}

.oj-slider::-moz-range-track{
    width: 100%;
    height: 2px;
    cursor: pointer;
    background-color: transparent;
}

.oj-slider::-moz-focus-outer{
    border: none;
    outline: none;
}

.oj-slider::-ms-track{
    width: 100%;
    height: 2px;
    cursor: pointer;
    background-color: #d3d3d3;
    border-color: transparent;
    color: transparent;
}

.oj-slider:focus{
    outline: none;
    border: none;
}

.time-left-div{
    position: relative;
    float: left;
    width: 15%;
    margin-left: 3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Courier New", Tahoma, sans-serif;
    color: #008b8b;
    font-size: 0.85em;
}