*{
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body{
    background-color: #223a63;
}

.line-space{
    line-height: 140%;
}

html, body, img, .post{
    margin: 0;
    padding: 0;
}

body{
    font-size: 100%;
}

h1{
    font-weight: bold;
    font-size: 100%;
    padding: 0;
}

.fix-left-col{
    position: absolute;
}
.left-col{
    background-color: #FFFFFF;
    height: 100%;
    position: fixed;
    overflow-y: hidden;
}

/*.ng-enter, .ng-leave{*/
    /*position: absolute;*/
    /*width: 100%;*/
/*}*/

/*.ng-leave{*/
    /*animation: zoomOutDown 1.2s both ease-in;*/
/*}*/

#cards{
    background-color: whitesmoke;
    position: relative;
    left: 22%;
    width: 78%;
    /*animation: zoomInDown 1.2s both ease-in;*/
    /*overflow: hidden;*/
}

.cards:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    display: inline-block;
    vertical-align: top;
    width: 0;
    position: absolute;
    overflow: hidden;
    background: #FFF;
    color: #272727;
    transition: top 0.8s ease-in-out, left 0.8s ease-in-out;
}
.card .title {
    line-height: 48px;
    font-size: 24px;
    font-weight: 300;
}
.card .text {
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    word-wrap: break-word;
}
.card .text p {
    margin: 0;
    font-size: 1.1em;
    font-family: verdana, sans-serif;
}
.card .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 20px;
}
.card a {
    color: #ffab40;
    margin-right: 20px;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    text-transform: uppercase;
    text-decoration: none;
}
.card .media {
    position: relative;
}
.card .media img, .card .media video{
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
}
.card .media .title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: #FFF;
}

.card .post-author{
    font-size: 1.2em;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.card .post-author .username{
    font-size: 0.8em;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

.card .post-author .date{
    font-size: 0.54em;
    position: absolute;
    right: 10px;
    top: 15px;
    text-align: center;
    font-family: Tahoma, sans-serif;
}

.card .profile-media{
    width: 30px;
    height: 30px;
    float: left;
    position: relative;
    top: -5px;
    margin-right: 10px;
    border-radius: 50%;
}

a {
  color: #00B7FF;
}

.card .ghost-div{
    position: absolute;
    width: 100%;
    color: #FFFFFF;
    border: none;
    z-index: 10000;
}

.login{
    position: relative;
    top: 10%;
    transition: all 1s ease-in-out;
}

.login .error{
    display: block;
    min-height: 50px;
    width: 300px;
    margin: 0 auto;
    /*margin-top: 15px;*/
    font-family: Arial, sans-serif;
    font-size: 1em;
    border: 1px solid red;
}

.login .error p{
    text-align: center;
    margin: 4%
}

.login .username, .login.password{
    transition: all 0.5s ease-in-out;
}

.login input, .login button{
    position: relative;
    padding: 5px;
}

form input{
    border: none;
}

/*form input:focus{*/
    /*outline: none;*/
/*}*/

.login input{
    display: block;
    height: 50px;
    width: 300px;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 1em;
    border-bottom: 1px solid lightGray;
}

.login input:focus, .login button:focus{
    outline: none;
    border-bottom: 1px solid #223a63;
}

.login button{
    display: block;
    width: 100px;
    height: 40px;
    margin: auto;
    margin-bottom: 15px;
    font-size: 1em;
    background: linear-gradient(to right, #223a63 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    border: 1px solid #223a63;
    color: #223a63;
    transition: all 0.2s ease;
}

.login .hide{
    visibility: hidden;
}

.login button:hover{
    background-position: left bottom;
    color: white;
    cursor: pointer;
}

.login .processing:hover{
    background-position: right bottom;
}

.login .processing{
    background-position: right bottom;
    border-color: lightgray;
}

.info{
    position: relative;
    transition: all 1s ease-in-out;
}

.info .profile-media-div{
    position: relative;
    margin: 0 auto;
    /* background-color: antiquewhite; */
}

.info .profile-media-div h1{
    font-family: Tahoma, sans-serif;
    color: gray;
    font-size: 1.5em;
    font-weight: 100;
    margin-bottom: 15px;
    text-align: center;
    /*animation: bounceInDown 1.4s;*/
    /* border-bottom: 1px solid lightgray; */
}

.info .profile-media{
    /*width: 200px;*/
    /*height: 200px;*/
    display: block;
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    animation: bounceInDown 2s;
    -moz-animation: bounceInDown 2s;
    -webkit-animation: bounceInDown 2s;
    -o-animation: bounceInDown 2s;
}

.info .user-info{
    /*border-bottom: 1px solid lightgray;*/
}

.user-stats{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    /*animation: bounceInDown 1.5s;*/
}

.user-stats:after{
    content: "";
    display: table;
    clear: both;
}

.user-stats .stat-item{
    position: relative;
    float: left;
    /* padding: 10px; */
    text-align: center;
    width: 33.33333%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.right-border{
    border-right: solid 1px lightgray;
}

.profile-msg{
    width: 60%;
    display: block;
    margin: auto;
    font-size: 1em;
    text-align: center;
    font-family: verdana, sans-serif;
    color: lightgray;
}

.tags{
    width: 90%;
    overflow-x: hidden;
    margin: auto;
    padding-bottom: 10px;
    white-space: nowrap;
    color: darkcyan;
    /* font-size: 1em; */
    /* height: 15px; */
    font-size: 0.8em;
    font-style: italic;
    font-family: tahoma, sans-serif;
    transition: all 5s ease-in-out;
    /* font-family: monospace; */
}
.tags-container{
    position: relative;
}
.tags:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 15%;
    background: linear-gradient(to right,rgba(255,255,255,0) 0,white 100%);
}

.tags div{
    left: 0;
    padding: 3px;
}

/*.tags div:hover{*/
    /*cursor: pointer;*/
/*}*/

.text-tag{
    color: darkcyan;
    /* font-style: italic; */
    font-family: tahoma, sans-serif;
}

#post-button{
    width: 30%;
    position: relative;
    margin: auto;
}

#post-button button{
    background: blue;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}