<div>
    <div class="audio-div">
        <div class="img-div">
            <img src="/assets/img/music2.svg" class="audio-img"/>
        </div>
        <div class="controls-div">
            <div class="playback-div">
                <div class="play-div">
                    <img src="/assets/img/play.png" class="play-img">
                </div>
                <div class="track-div">
                    <div class="track-color"></div>
                    <div class="tracking-div"></div>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="range" min="0" max="1" step="0.01" value="0" class="oj-slider">
                </div>
                <div class="time-left-div"></div>
            </div>
            <div class="volume-ctrl-div">
                <div class="volume-icon-div">
                    <img src="assets/img/volume.png" class="volume-icon">
                </div>
                <div class="volume-track-div">
                    <div class="track-color"></div>
                    <div class="tracking-div"></div>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="range" min="0" max="1" step="0.01" value="1" class="oj-slider">
                </div>
            </div>
        </div>
    </div>
</div>