<div id="uploader">
    <div class="bottom-border">
        <label for="file-input" id="file-input-label">
            <img src="/assets/img/upload.png" width="15px">
            Select media
        </label>
    </div>
    <input type="file" multiple id="file-input">

    <div id="drop-zone">
        <div id="preview">
        </div>
    </div>
    <script>
        function toggleFocus(elem){
            elem.style.border = '1px solid darkcyan';

            var reset = function(){
                elem.style.border = '1px solid lightgray';
                elem.removeEventListener('blur', reset);
            };

            elem.addEventListener('blur', reset);
        }
    </script>
    <form id="upload-form">
        <textarea id="post-body"
                  ng-model="uploadCt.postBody"
                  placeholder="Enter text"
                  onclick="toggleFocus(this)"
        >
        </textarea>
        <input type="text"
               id="tags"
               ng-model="uploadCt.tags"
               placeholder="Tag your post"
               onclick="toggleFocus(this)"
        >
    </form>

    <div class="upload-controls">
        <button id="upload-btn" ng-click="uploadCt.post()">
            <img src="/assets/img/post.png" width="15px">
            CREATE POST
        </button>
    </div>
</div>