<div id="uploader">
    <div class="bottom-border">
        <label for="file-input" id="file-input-label">
            <img src="/assets/img/upload.png" width="15px">
            Select media
        </label>
    </div>
    <input type="file" multiple id="file-input">

    <div id="drop-zone">
        <div id="preview">
        </div>
    </div>
    <form id="upload-form">
        <textarea id="body"
                  ng-model="uploadCt.postBody"
                  placeholder="Share something useful..."
                  onfocus="this.style.border = '1px solid darkcyan' "
                  onblur="this.style.border = '1px solid lightgray' "
        >
        </textarea>
        <input type="text"
               id="tags"
               ng-model="uploadCt.tags"
               placeholder="Tag your post"
        >
    </form>

    <div class="upload-controls">
        <button id="upload-btn" ng-click="uploadCt.post()">
            <img src="/assets/img/post.png" width="15px">
            CREATE POST
        </button>
    </div>
</div>