<div>
    <div class="message">
        This is a demo Uploader. Be nice to it. <br>
        <br>
        You can drag and drop files below and type some text where is says you can, you can add
        tags to the post by typing them in the tags field; <b>TAGS SHOULD BE SEPARATED BY SPACES</b>
        then click create post to upload the post and look at your page to see the update.<br>
        You don't have to refresh it. <br>
        <br>
        Remember, this is a very very very early demo, like a precursor to the demo in fact, so don't
        judge the design.<br>
        <br>
        <b>If you like looking at raw json and want to hit the API endpoints yourself with Postman or any other API
            tester, email me at eoo5498[at]rit[dot]edu and I'll send you the urls</b><br>
        <br>
        ENJOY!!
    </div>

    <div id="drop-zone">
        DROP FILES HERE <br>

        <input type="file" multiple id="file-input">

        <div id="preview">
        </div>
    </div>
    <div>
        Write post here:
    </div>
    <form>
        <textarea id="body" rows="20" cols="50" ng-model="uploadCt.postBody"></textarea>
    </form>
    <div>
        Tags:
    </div>
    <form>
        <input type="text" id="tags" ng-model="uploadCt.tags">
    </form>

    <button ng-click="uploadCt.post()">CREATE POST</button>
</div>