#uploader{
    position: absolute;
    text-align: center;
    background: white;
    color: darkcyan;
    width: 280px
}

body{
    background-color: lightgray;
    color: darkcyan;
}

#drop-zone{
    background-color: #FFFFFF;
    max-height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
}

#upload-form{
    margin-top: 10px;
}

#post-body {
    border: 1px solid lightgray;
    background-color: #FFFFFF;
    resize: none;
    outline: none;
    display: inline-block;
    position: relative;
    width: 250px;
    height: 100px;
    margin: auto;
    font-size: 1.1em;
    font-family: verdana, sans-serif;
}

#preview img{
    position: relative;
    margin: auto;
}

.message{
    margin: 10px;
    width: 700px;
    background: lightblue;
    color: black;
    padding: 10px;
}

#tags{
    margin: 10px;
    width: 250px;
    outline: none;
    border: 1px solid lightgray;
}

.upload-controls{
    border-top: 1px solid lightgray;
}

.bottom-border{
    border-bottom: 1px solid lightgray;
}

#file-input{
    position: absolute;
    display: none;
    opacity: 0;
    overflow: hidden;
    z-index: -200;
}

#file-input-label{
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    width: 150px;
    background: lightgray;
    color: darkcyan;
}

#upload-btn{
    margin: 10px;
    padding: 5px;
    color: darkcyan;
    background: lightgray;
    outline: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

.confirm-button{
    padding: 5px;
    width: 20%;
    min-width: 70px;
    margin: 0 auto;
    color: green;
    background: white;
    outline: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

#upload-overlay{
    position: absolute;
    width: 280px;
    height: 200px;
    display: none;
    background: lightblue;
    opacity: 0.5;
    font-size: 20pt;
    font-weight: bolder;
    color: darkgreen;
}

.loading-div{
    position: absolute;
    top: 0;
    z-index: 2;
    background: lightblue;
    font-family: "Courier New", Tahoma, sans-serif;
    color: black;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loading-img{
    width: 50px;
    height: 50px;
    margin: 0 auto;
}